body {
  margin: 0px;
}

.aa {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(41, 41, 41);
  justify-content: center;
  align-items: center;
  height: 500px;
}

.insidemain {
  background-color: rgb(167, 167, 167);
  padding-top: 50px;
  padding-bottom: 50px;
 }

h1 {
  text-align: center;
  margin-bottom: 0;
  color: black;
  font-size: 72px;

} 

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:left;
  margin-bottom: 0;
  color: black;
  font-size: 72px;

} 

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.belowh1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 32px;
  padding-top: 0;
  margin-top: 0;
}

.pontano-sans {
  font-family: "Pontano Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

hr {
  display: flex;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 0;
}

.mainb {
  display: grid;
  grid-template-columns: 0.5fr 1fr ;
  grid-template-rows: 1fr 1fr;
  width: 50%;;
  align-items: center;
  margin-top: 5rem;

}

.b { 
display: flex;
justify-content: center;
}

.me {
  display: flex;
  height: 200px;
  grid-row: span 2;
  background-color: rgb(41, 41, 41);
  border-radius: 30%;   
}

.boxa {
  display: flex;
  justify-content: start;
  align-items: end;
}

.p1 {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: left;    
}

.c {
  display: flex;
  justify-content: center;
}

.mainc{ 
  display: grid;
  grid-template-columns:0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  width: 50%;
  align-items: center;
  margin-top: 5rem;
 }

.maincheader{
  display: flex;  
  grid-column: span 2;
  justify-content: center;
  background-color: rgb(167, 167, 167);
  align-items: center;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.mainctext{
  display: flex;
  justify-content: start;
  text-align: left;
}

.maincimg{
  display: flex;
  align-items: end;
  justify-content: center;
}

.footer {
  margin-top: 100px;
  display: grid;
  background-color: rgb(41, 41, 41);
  padding: 50px 0 20px;
  text-align: center;
  }
a:hover {
  color:#414141; 
  text-decoration:none; 
  cursor:pointer;  
}

.footer-link {
  text-decoration: none;
  color: azure;
  text-align: center;
  padding: 20px;
}

.insidefoot {
 display: flex;
 text-align: center;
 justify-content: center;
 }

 .copyright {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;
}
.contactme {
  display: grid;
  align-items: center;
  justify-content: center;
}

.containercontact {
  display: flex;
  text-align: center;
  }

.btn {
  background-color: rgb(167, 167, 167);
  padding: 20px;
  border-radius: 10px;
  color: black;
}


